/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #cd94e3 35%, #834d96 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: #fff;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    width: 950px;
    max-width: 95%;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}


.illustration {
    flex: 1;
    background: url("../images/logo.png") no-repeat center;
    background-size: cover;
}


.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #b67dd9;
}

.form-section p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    background: #f8f5ff;
}

input:focus {
    outline: none;
    border-color: #a64aff;
}



.btn {
    background: #834d96;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-login {
    transition: background 0.5s, color 0.5s;
}
.btn-login {
    transition: background 0.8s ease-in-out, color 0.5s ease-in-out;
}

.btn-login:hover,
.btn-login:focus {
    background: linear-gradient(90deg, #cd94e3, #834d96, #bb8dcb);
    color: #fff;
}


.register {
    margin-top: 20px;
    font-size: 14px;
    color: #333;

}

.register a {
    color: #714281;
    text-decoration: none;
    font-weight: bold;
}
.register a:hover {
    text-decoration: underline;
}
