<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 401</title>

    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link rel="icon" type="image/png" th:href="@{/images/mascote.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <a th:href="@{/home}">
            <img th:src="@{/images/logo.png}" alt="Logo Motion" width="65" height="55">
        </a>
        <nav>
            <ul>
                <li><a th:href="@{/cadastro}">Cadastro</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="text-section">
            <h1>Oops!</h1>
            <h2>Acesso negado</h2>
            <p>Faça login e tente novamente.</p>
        </div>

        <div class="error-image">
            <img src="images/error.png">
        </div>

    </main>

    <footer>
        <p>© 2025 Motion — Todos os direitos reservados</p>
    </footer>
</div>
</body>
</html>
