<!-- Cabeçalho -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso negado</title>
    <!-- Atualizado para Spring Boot -->
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/mascote.png">
</head>


<!-- Corpo da página -->
<body>
<div class="container">
<h1>500 :(</h1>
<p>Oops! Parece que algo deu errado.</p>

<!-- Botão em link que recarrega a página -->
<p><a th:href="@{/}">Tentar novamente</a></p>
</div>
</body>
</html>
