<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 500</title>

    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link rel="icon" type="image/png" th:href="@{/images/mascote.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Container principal da página -->
    <div class="container">
        <!-- Cabeçalho com o menu simples -->
        <header>
            <div class="logo">
                <img src="images/logo.png">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Inicial</a></li>
                </ul>
            </nav>
        </header>

        <!-- Seção principal (mensagem de erro) -->
        <main>
            <div class="text-section">
                <h1>Oops!</h1>
                <h2>Ocorreu um erro interno</h2>
                <p>Tente novamente mais tarde.</p>
            </div>

            <!-- imagem de erro -->
                <div class="error-image">
                    <img src="images/error.png">
            </div>

        </main>

        <!-- Rodapé com crédito -->
        <footer>
            <p>© 2025 Motion — Todos os direitos reservados</p>
        </footer>
    </div>
</body>
</html>
