<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 500</title>
    <!-- Importando o arquivo CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Container principal da página -->
    <div class="container">
        <!-- Cabeçalho com o menu simples -->
        <header>
            <div class="logo">
                <img src="images/logo.png">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Inicial</a></li>
                </ul>
            </nav>
        </header>

        <!-- Seção principal (mensagem de erro) -->
        <main>
            <div class="text-section">
                <h1>Oops!</h1>
                <h2>Ocorreu um erro interno</h2>
                <p>Tente novamente mais tarde.</p>
                <button>Mais informações</button>
            </div>

            <!-- imagem de erro -->
                <div class="error-image">
                    <img src="images/error.png">
            </div>

        </main>

        <!-- Rodapé com crédito -->
        <footer>
            <p>designed by Motion Mood © 2025</p>
        </footer>
    </div>
</body>
</html>
