<!-- Cabeçalho -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Indisponível</title>
    <!-- Atualizado para Spring Boot -->
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/mascote.png">
</head>

<!-- Corpo da página -->
<body>
<div class="container">
<h1>503 :(</h1>
<p>Oops! Parece que ocorreu um problema.</p>
<p>Estamos em manutenção, tente novamente mais tarde</p>

<!-- Link que volta para a página inicial -->
<p><a th:href="@{/}">Atualizar página</a></p>
</div>
</body>
</html>
