<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fim do Formulário</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/mascote.png">
    <link rel="stylesheet" th:href="@{/css/fim-PerguntasFormulario.css}">


</head>
<body>
<div class="frame">
    <h1>Obrigado por responder! Suas respostas foram registradas</h1>
    <div class="buttons">
        <a th:href="@{/login}" class="btn">Voltar para o Login</a>
    </div>
</div>
</body>
</html>
