<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Atualizado para Spring Boot -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/felino.png">
</head>
<body>
<div class="container">
  <div class="illustration"></div>

  <!-- Área do formulário -->
  <div class="form-section">
    <h2>Faça o Login:</h2>
    <p>Seja bem-vindo de novo!</p>

    <form th:action="@{/login}" method="post">
      <input type="email" name="email" placeholder="e-mail" required>
      <input type="password" name="senha" placeholder="senha" required>
      <br>
      <button type="submit" class="btn btn-login">Fazer Login</button>
    </form>

    <p class="register">Não tem conta? <a th:href="@{/cadastro}">Faça o Cadastro</a></p>

    <p th:text="${erro}" style="color:red;"></p>
    <p th:text="${mensagem}" style="color:green;"></p>
  </div>
</div>
</body>
</html>
